$sm-min: 0px;
$sm-max: 639px;
$md-min: 640px;
$md-max: 1024px;
$lg-min: 1025px;
$lg-max: 1279px;

$color-white: white;
$color-red: red;

$color-ligther-black: #2a2a2a;
$color-black: black;

$color-light-grey: #d8d4da;
$color-grey: #a3a3a3;
$color-dark-grey: #948a99;
$color-darker-grey: #3e4655;

$color-violet: #9352b3;
$color-gold: gold;