@import "_foundation";
@import '_variables';

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
}

.button {
  color: $color-white;
  background-color: $color-violet;
  font-size: 0.85rem;
  border: none;
  padding: 10px 15px;
  font-weight: 800;
  border-radius: 5px;
}